language: julia
os:
  - linux
julia:
  - 0.5
  - 0.6
  - nightly
notifications:
  email: false
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia -e 'Pkg.clone(pwd()); Pkg.build("ProfileView")'
  - xvfb-run julia --check-bounds=yes -e 'Pkg.test("ProfileView"; coverage=true)'
